logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.env
.env.*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
target/
*.db
src-tauri/bindings/
bindings/
mise.local.toml
.cursor/
